body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f3f4f6;
  color: #111827;
}

.topbar {
  height: 56px;
  background: #192641;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.container {
  padding: 16px;
}

.controle-mes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.controle-mes button {
  background: none;
  border: none;
  font-size: 18px;
}

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

.tabela-fatura {
  width: 100%;
  border-collapse: collapse;
}

.tabela-fatura th {
  background: #f9fafb;
  text-align: left;
  padding: 12px;
  font-size: 13px;
  color: #6b7280;
}

.tabela-fatura td {
  padding: 12px;
  border-top: 1px solid #e5e7eb;
  font-size: 14px;
}

.tabela-fatura tfoot td {
  font-weight: bold;
  background: #f9fafb;
}

.limpar-fatura {
  margin-top: 12px;
  width: 100%;
  padding: 10px;
  border: 1px solid #fecaca;
  background: #fff;
  color: #991b1b;
  border-radius: 8px;
  font-weight: 500;
}


.remover {
  background: none;
  border: none;
  color: #dc2626;
  font-size: 16px;
  cursor: pointer;
}
